.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px 5px 10px;
  // position: fixed;
  top: 0;
  z-index: 100;
  background-color: transparent;

  @include desktop {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  .burgerIcon {
    width: 40px;
    @include desktop {
      margin-left: 20px;
    }
  }

  &__logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-left: 20px;
    // border: 1px solid black;
    @include desktop {
      // height: 80px;
    }
  }

  &__center {
    display: flex;
    align-items: center;
    width: 40%;

    border: 1px solid lightgray;

    @include iphone {
      flex: 1;
    }

    @include desktop {
      // margin-left: 20px;
      margin-right: 20px;
    }

    & > input {
      flex: 1;
      outline: none;
      border: none;
    }
  }

  &__searchBtn {
    width: 50px !important;
    background-color: #fafafa;
    padding: 5px !important;
    color: gray;
    border-left: 1px solid lightgray;

    @include iphone {
      display: none !important;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    cursor: pointer;

    // @include iphone {
    //     display: none !important;
    // }
  }

  &__icon {
    margin-right: 5px;
  }
  &__NoticeIconContainer {
    // background-color: red;
    position: relative;
  }
  &__NoticeIcon {
    color: $secondary-color;
    @include desktop {
      margin-right: 6px;
    }
  }
  &__NoticeIconCount {
    position: absolute;
    background-color: $alert-color;
    color: $primary-color;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 50%;
    top: -2px;
    right: -2px;
  }
}
