.login {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;

  @include desktop {
    width: 100%;
    margin: auto;
  }
  @include ipadPro {
    width: 100%;
    margin: auto;
  }
  @include pad {
    width: 100%;
    margin: auto;
  }
  @include iphone {
    width: 100%;
    margin: auto;
  }

  &__logo {
    display: none;
  }
  &__item {
    @include desktop {
      display: flex;
    }
  }
  &__form {
    height: 300px;
    width: 100%;
    @include desktop {
      max-width: 50%;
    }
    background-color: #fefefe;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
  }
  &__formBox {
    width: 100%;
  }
  &__formLabel {
    font-family: $secondary-font;
  }
  &__formInput {
    width: 100%;
    border: none;
    background-color: $primary-color;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
  }
  &__passwordEmailButton {
    width: 100%;
    color: $primary-color !important;
    padding: 5px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: $secondary-color !important;
    &:hover {
      background-color: #28b351;
    }
  }

  &__registerButton {
    width: fit-content;
    display: block;
  }
  &__registerButton:hover,
  &__forgetPasswordButton:hover {
    background-color: $primary-color;
  }

  &__providerButton {
    width: 70%;
    padding: 10px !important;
    margin-top: 10px !important;
    display: flex !important;
    justify-content: space-around !important;
  }
  &__Google-and-FB-box {
    width: 100%;
    @include desktop {
      padding: 50px 0 0 30px;
    }
  }
  &__providerButton {
    width: 100% !important;
  }

  .google-color {
    color: $primary-color;
    background-color: #4a91ff;
  }

  .googleIcon {
    width: 25px;
  }

  .facebook-color {
    color: $primary-color;
    background-color: #3f59a8;
  }

  background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
