.pickUpRobot {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__messageContainer {
    margin-top: 60px;
    background-color: $primary-color;
    padding: 5px;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  &__userText {
    margin-top: 20px;
    width: fit-content;
    margin-left: auto;
    background-color: $secondary-color;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 13px 0px rgba(50, 50, 50, 0.53);
    -moz-box-shadow: 4px 4px 13px 0px rgba(50, 50, 50, 0.53);
    box-shadow: 4px 4px 13px 0px rgba(50, 50, 50, 0.53);
    & > p {
      padding: 10px;
      text-align: left;
    }
  }
  &__robotText {
    margin-top: 20px;
    margin-right: 30px;
    width: fit-content;
    font-family: $secondary-font;
    background-color: $third-color;
    color: $primary-color;
    border-radius: 20px;
    -webkit-box-shadow: -4px 3px 13px 0px rgba(50, 50, 50, 0.53);
    -moz-box-shadow: -4px 3px 13px 0px rgba(50, 50, 50, 0.53);
    box-shadow: -4px 3px 13px 0px rgba(50, 50, 50, 0.53);
    & > p {
      padding: 10px;
      text-align: left;
    }
  }
  &__inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    -webkit-box-shadow: -1px -4px 12px 0px rgba(128, 128, 128, 0.44);
    -moz-box-shadow: -1px -4px 12px 0px rgba(128, 128, 128, 0.44);
    box-shadow: -1px -4px 12px 0px rgba(128, 128, 128, 0.44);
    & > input {
      padding: 10px;
      border: none;
      flex: 0.8;
      font-size: 18px;
      font-family: $secondary-font;
    }
  }

  .message_display_none {
    display: none;
  }
}
