.planChart {
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  max-height: 500px;
  min-height: 300px;
  //background-color: red;
  //   padding: 10px;
  margin: 20px;
  // background: "rgba(0, 27, 45, 0.9)";
}
