$pcWidth:768px;
$padWidth:768px;
$phoneWidth:320px;

@mixin pc(){
  @media all and (min-width: $pcWidth) {
    @content ;
  }
}


@mixin pad(){
  @media all and (max-width: $padWidth) {
    @content ;
    
  }
}

@mixin phone(){
  @media all and (max-width: $phoneWidth) {
    @content ;
    
  }
}

.signUp {
  height: 100vh;
  //   margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include pc{
    width: 100%;
    max-width:400px;
    margin: auto;
    }
    @include pad{
    width: 100%;
    max-width:2000px;
    margin: auto;
    }
    @include phone{
    width: 100%;
    max-width:2000px;
    margin: auto;
    }
    
}
